doctype html
html
  head
    title Aryan Dance Academy 
    block scripts
    block style  
  body
    nav.top#navBar
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/")  Class info ]
            li #[a(href="/contact") Contact us ] 
    block content
    footer#footerSection
       | Copyright section 2020 Aryanacademydance  